[aeOptions]
debugLevel = 1

acuUser=AcumenUserName
acuPassword=AcumenUserSecret
acuDSN=AcumenDbDsn

emailValidatorBaseUrl=emailValidatorBaseUrl
emailValidatorApiKey=emailValidatorApiKey
phoneValidatorBaseUrl=phoneValidatorBaseUrl
phoneValidatorApiKey=phoneValidatorApiKey

# needed by test/conftest.py
assUser=assUserName
assPassword=assPassword
assRootUsr=assRootUsr
assRootPwd=assRootPwd
assDSN=test
sfUser=sfUserName
sfPassword=sfPassword
sfToken=sfToken
sfIsSandbox=True
shClientPort=12000
shServerIP=shServerIP
shServerPort=14777
shServerKernelPort=14772
shTimeout=369.0,
shXmlEncoding=utf8
shUseKernelForClient=
shMapClient=
shUseKernelForRes=
shMapRes=
warningFragments=

hotelIds=
resortCats=
apCats=
roAgencies=
roomChangeMaxDaysDiff=

# needed by test/test_SihotServer.py
wsHost = ServerName


[aeSystems]
sys_init_AvailableSystems = ['Ass=AssCache', 'Acu=Acumen', 'Sf=Salesforce', 'Sh=Sihot']
sys_init_AvailableRecordTypes = ['C=Clients', 'R=Reservations', 'P=Products']

sys_init_CredItems = ['User', 'Password', 'DSN', 'Token', 'SslArgs', 'ServerIP']
sys_init_CredNeeded = {'Ass': ('User', 'Password', 'DSN'),
                       'Acu': ('User', 'Password', 'DSN'),
                       'Sf':  ('User', 'Password', 'Token'),
                       'Sh':  ('ServerIP', ),
                      }

sys_init_FeatItems = ['sfIsSandbox',
                      'shServerKernelPort', 'shServerPort', 'shClientPort', 'shTimeout', 'shXmlEncoding',
                      'shUseKernelForClient', 'shUseKernelForRes', 'shMapClient', 'shMapRes',
                     ]
