ae_core
ae_literal
ae_console
ae_lockname
ae_progress
ae_db_core
ae_db_ora
ae_db_pg
ae_sys_core
ae_sys_data
ae_sys_core_sh
ae_sys_data_sh
atomicwrites
bottle
certifi
cffi
chardet
coverage
cryptography
cx-Oracle
docutils
idna
Kivy
more-itertools
packaging
pluggy
psycopg2-binary
py
pycparser
Pygments
PyInstaller
pyOpenSSL
pytest
requests
simple-salesforce
urllib3
